/* ======== margin Top============ */

/* ======== margin buttom============ */
.mb-6 {
  margin-bottom: 6rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
/* ======== margin buttom============ */
.ml-3 {
  margin-left: 3rem;
}

/* ======== Z-index============ */

/* ======== Font and typography============ */
.text-bold {
  font-weight: $font-bold;
}

.text-green {
  color: $color-primary;
}
