/*========================= Font  ============================*/
$font-opensans: "Open Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;

/*========================= Font Weight  ============================*/
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;
/*========================= Color ============================*/
$color-white: #ffffff;
$color-primary: #33cc66;
$color-black: #000000;
$bg-shade: #f9f9f9;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

// Bold text
$font-bold: 800;
